body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0px 0px 20px #242424;
    font-family: 'Roboto', sans-serif; 
    color: white;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time {
    font-size: 3em;
    text-align: center;
}

#greeting {
font-size: 3em;
align-items: center;
margin: auto;
}

#weather {
    display: flex;
}

